.*/**/*
**/*.pdn
**/*.stg
**/*.ts
**/*.vsix
**/.*
retire-cache
testReports
out/test/**
out/**/*.test.*
out/**/*.map
src/**
build/**
patches/**
types/**
node_modules/**
packages/**
docker/**
docs/**
node_modules/**/*.js.map
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/LICENSE
node_modules/**/LICENSE.txt
node_modules/**/license
node_modules/**/License.txt
node_modules/**/changelog
node_modules/**/changelog.txt
node_modules/**/docs
node_modules/**/doc
node_modules/**/samples
node_modules/**/jsforce/test
node_modules/**/jsforce/bin
node_modules/**/jsforce/build
node_modules/**/moment/min
node_modules/**/moment/src
node_modules/**/faye/browser
node_modules/**/faye/client
node_modules/**/qs/dist
node_modules/**/qs/test
node_modules/**/vlocity/test
node_modules/**/ajv/dist
node_modules/**/.idea
node_modules/**/.vscode
node_modules/**/.travis.yml
node_modules/**/.zuul.yml
node_modules/**/.zuul.yml
node_modules/**/.babelrc
node_modules/**/.istanbul.yml
node_modules/**/.eslintrc
node_modules/**/.editorconfig
node_modules/**/*.ts
node_modules/**/test/*
node_modules/**/tests/*
node_modules/**/yarn.lock
node_modules/**/.*
node_modules/webdriverio
node_modules/@types
node_modules/@sinonjs
*.json
*.yaml
*.tgz
*.sh
sonar-project.properties
!package.json