.*
.*/**/*
**/*.pdn
**/*.stg
**/*.ts
**/*.vsix
out/test/**
out/**/*.test.*
out/**/*.map
src/**
tsconfig.json
tslint.json
webpack.config.js
package-lock.json
sfdx-project.json
vlo-datapack-lang-config.json